@import "../../font/Webfonts/fontiran.css";

button {
  font-family:IRANSansX,sans-serif,IRANSansX !important;
  margin: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}
a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
span{
  font-family:IRANSansX,sans-serif,IRANSansX !important;
}
