@import "../../font/Webfonts/fontiran.css";


th{

  font-family:IRANSansX,sans-serif,IRANSansX !important;
}
td{
  font-family:IRANSansX,sans-serif,IRANSansX !important;
}


table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.container{
  padding: 30px;
  border: 3px solid #7492cf;
  border-radius: 10px;
  margin: 10px;


}
.mat-mdc-text-field-wrapper {
  width: 198px;
}

.selectDay{
  width: 190px;
}
button{
  font-family:IRANSansX,sans-serif,IRANSansX !important;
}
