/* You can add global styles to this file, and also import other style files */
@import "./font/Webfonts/fontiran.css";
@import "./font/google/material-icon.css";
@import "./font/google/roboto.css";


html, body { height: 100%; }
body { margin: 0; font-family:IRANSansX,sans-serif,IRANSansX !important; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
